@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"),
    url(../../Fonts/Montserrat-SemiBold.ttf) format("opentype");
}

.homeBody {
  padding-top: 10px;
}

.jumbo {
  padding-top: 10px;
  font-family: "Montserrat";
  background-color: rgb(0, 0, 0) !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
}
