.carrousel {
  /*display: contents;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*object-fit: cover;*/
  /*float: left;*/
  /*object-fit: cover;*/
}

.carrousel-item {
  /*max-height: 500px;*/

  /*object-fit: contain;
  /*width: 100%;*/
  object-fit: cover;
  min-width: 100%;
  height: 550px;
}
