@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"),
    url(../../Fonts/Montserrat-SemiBold.ttf) format("opentype");
}

.contactContainer {
  height: 780px;
}

.contactText {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  align-items: center;
}

.contactText p {
  max-width: 60%;
  justify-content: center;
}

.contactImage {
  max-width: 100%;
}

.contactForm {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.contactForm form {
  align-self: center;
  min-width: 60%;
}

.inputDivContact {
  /*padding-left: 200px;
  padding-right: 200px;*/

  font-family: "Montserrat";
}

.buttonContact {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
