@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: local("Montserrat"),
    url(../../Fonts/Montserrat-Light.ttf) format("opentype");
}

.formBox {
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  min-height: 380px;
  min-width: 310px;
  border-radius: 10px;
  flex-direction: column;
  font-family: "Montserrat";
}

.loginTitle {
  font-size: 50px;
  padding: 10px 0px 10px 0px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
}

.buttonDiv a {
  display: flex;
  justify-content: center;
}

.buttons {
  /*margin-inline-end: 10px;*/
  max-width: 80%;
}

.inputDiv {
  padding-bottom: 10px;
}

.inputPlace {
  border-radius: 3px;
  width: 200px;
  height: 30px;
}
