@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: local("Montserrat"),
    url(../../Fonts/Montserrat-Light.ttf) format("opentype");
}

.formBox {
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  height: 320px;
  width: 300px;
  border-radius: 10px;
  flex-direction: column;
  font-family: "Montserrat";
}
.formBox h2 {
  font-size: 50px;
  padding: 20px 0px 10px 0px;
}

.buttons {
  margin-inline-end: 10px;
}

.inputDiv {
  padding-bottom: 10px;
}

.inputPlace {
  border-radius: 3px;
  width: 200px;
  height: 30px;
}
