.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../../images/loginWallpaper.png");
  height: 100%;
  background-size: cover;
}

.loginPageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.83;
}

.right {
  background-position: right;
  justify-content: start;
  align-items: flex-end;
}

.centered {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
